@use "./base/" as *;

canvas {
  width: 100vw;
  height: 100vh;
}

.project-item-bullet::before {
  content: "\2022";
  font-size: 2em;
  vertical-align: middle;
}

// Meida queries

@media (max-width: 700px) {
  .project-item-wrapper-left {
    height: 80vw !important;
  }
}

@media (max-width: 500px) {
  .project-item-wrapper-left {
    height: 90vw !important;
  }
  .project-item-icons-wrapper {
    display: none !important;
  }
}

@media (max-width: 400px) {
  .project-item-wrapper-left {
    height: 50vh !important;
  }
}